<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="block">
    <%= @user_input %>
    <p class="firm">-You</p>
  </div>

  <div class="answer block">
    <%= @answer %>
    <p class="firm">-Your coach</p>
  </div>

  <%= link_to "Ask a new question", ask_path %>

</div>
